*{padding:0; margin:0;}
body{background: #444;}

#pattern{
    display:inline-block;
    padding: 5px;
    padding-bottom: 0px;
}

#pattern .pin{
    width: 20px;
    height: 20px;
    background: #222;
    margin-bottom:1px;
    display:block;
	cursor:pointer;
}

#pattern .col:nth-child(8n+4){
    border-right: 1px solid gray;
}

#pattern .col:nth-child(8n){
    border-right: 1px solid silver;
}
/*
#pattern .col:nth-child(4n){
    padding-right:3px;
    margin-right:2px;
}
*/
#pattern .col:last-child{
    border: none;
    margin:0;
    padding:1px;
	padding-bottom:0;
}

.col{
    width:20px;
    padding:1px;
	padding-bottom:0;
    display:inline-block;
}

.current{
    background: #866;
}

.active{
    background: #cfc !important;
}